{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="create-form" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="body">Content</label>
      <textarea name="body" id="body" class="form-control" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn-submit">Create Post</button>
  </form>
{% endblock %}