{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.body.label(class="form-label") }}
        {{ form.body(class="form-control", rows=5) }}
        {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}