{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Perfil de {{ profile_email or 'Usuario' }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <p class="post-date">Publicado el {{ post.created_at }}</p>
        </div>
      </header>
      <p class="body">{{ post.content }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% else %}
    <p>Este usuario aún no ha publicado nada.</p>
  {% endfor %}
{% endblock %}
